@import url(css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: rgb(234, 233, 233);
    padding-top: 60px;
    padding-bottom: 60px;
}

main {
    font-family: "Bitcount Single";
    font-weight: 700;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: black;
    font-weight: 900;
    margin: 0;

}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin: 0;
}

/*Mobile first*/
.grid-colors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    font-weight: 500;
}


.grid-title {
    grid-column: 1/-1;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 40px;
    border-radius: 10px;

}

.black-box {
    background-color: black;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.teal-box {
    background-color: teal;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.blue-box {
    background-color: blue;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.navy-box {
    background-color: navy;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.lime-box {
    background-color: lime;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.white-box {
    background-color: white;
    color: black;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.purple-box {
    background-color: purple;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.yellow-box {
    background-color: yellow;
    color: black;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.olive-box {
    background-color: olive;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.red-box {
    background-color: red;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}


.maroon-box {
    background-color: maroon;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}


.gray-box {
    background-color: gray;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}


.olivedrab-box {
    background-color: olivedrab;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.deep-sky-blue-box {
    background-color: deepskyblue;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.fuchsia-box {
    background-color: fuchsia;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.green-box {
    grid-column: 1/-1;
    background-color: green;
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;

}

/*Tablet version*/

@media (min-width:768px) {
    .grid-colors {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .green-box {
        grid-column: 4/4;
    }
}


/*Desktop version*/

@media (min-width:1024px) {
    .grid-colors {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .green-box {
        grid-column: 4/7;
    }
}